#header{
  width: 100vw;
  height: 50px;
  position: fixed;
  top:0;
  left:0;
  z-index: 20;
  background-color: #443341;
  margin: 0;
  /* box-shadow: 0px 6px 10px 0px rgba(0,0,0,.2); */
}
#navbar_ghost{
  padding-left: 40px;
  padding-top: 9px;
  height: 30px;
  display: inline-block;
}
h1{
  padding: 0;
  margin: 0;
  font-size: 24px;
  padding-left: 10px;
  transform: translateY(-4px);
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
}


#editor{
  height: 100%;
}
.CodeMirror{
  height: 100%;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url("../assets/hsizegrip.png") center center no-repeat #443341;
  cursor: row-resize;
}
.panel-top{
  max-height: 60vh;
}
.panel-bottom{
  /* height: 100%; */
  background-color: #2b262a;
  flex-grow : 1;
  /* flex-flow: column; */
}
.chart-container{
  position: absolute;
  /* height:99%; */
  width:100%;
}
.chartjs-size-monitor{}

.panel-container-vertical{
  height: calc(100vh - 100px);;
  /* max-height: 70vh; */
  display: flex;
  flex-flow: column;
}



#footer{
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 20;
  background-color: rgb(32,27,31);
  margin: 0;
}
#footerFillBar{
  position: absolute;
  z-index: 22;
  width: 100vw;
  top:0;
  left:0;
  background-color: #443341;
  height: 50px;
}

#footerButtons{
  width: 100vw;
  position: absolute;
  z-index: 23;
}
button:focus { outline: none; }
#footerButtons button{
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  border: 1px solid #dbc3cc;
  background-color: rgba(42,37,41,0);
  color: #dbc3cc;
  transition: background-color 0.2s;
}
#footerButtons button:hover{
  background-color: rgba(42,37,41,0.9);
}
#footerButtons button:disabled{
  opacity: 0.3;
  background-color: rgba(42,37,41,0);
}
#cancelButton{
  position: absolute;
  right: 20px;
}
#footerButtons #cancelButton:disabled{
  opacity: 0;
  background-color: rgba(42,37,41,0);
}



#readme{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
}
.dimBack{
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
}
.lightbox{
  z-index: 1000;
  position: absolute;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
  /* padding: 50px; */
  background-color: #443341;
  text-align: center;
}
.textHolder{
  display: inline-block;
  width: 100%;
  /* margin-top: 50px; */
  height: 100%;
  background-color: white;
  overflow: scroll;
  text-align: left;
  color: black;
}
.textHolder p{
  margin: 20px;
}
.textHolder h2{
  margin: 20px;
}






body{
  color: #dbc3cc;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
